<template>
  <div id="welcome">
    <v-alert v-if="usesMouse()" style="color:crimson; font-size: xx-large;">
      It seems that you are on a mobile device.
      <br />
      It is important for this study that you use a desktop/laptop. 
      
      <br><br>
      If you can, please use a desktop/laptop to continue.
    </v-alert>
    <v-alert v-if="usesSafari()" style="color:crimson; font-size: xx-large;">
      It seems that you are using Safari.
      <br />
      There is a known issue with Safari that may cause the study to not work properly. 
      <br><br>
      Please use a different browser to continue as you will not be able to complete the study.
    </v-alert>

    <div style="height:250px; width:248px;float:left;">
        <div id="header1">
            <img src="images/UoE_logo.png" height="250px" width="248px" style="text-align: left;">
        </div>
    </div>

    <div style="font-size:xx-large">
    <strong>Welcome!<br>
    </strong>Thank you for taking an interest in our research.<br><br>
        <strong>Please carefully read the following information.
    </strong><br><br><br>
    </div>
    <strong>What is the purpose of this study?</strong><br>
    <p>Our goal is to understand whether having access to a tool that gives additional information about emails helps people detect phishing attacks, and investigate if this tool changes the way people process their emails.</p>
    <br>
    
    <strong>What will happen if I decide to take part?</strong><br>
    <p>You will be randomly assigned to either the control or experimental group. Each group will be presented with 16 emails with some <strong>genuine phishing emails</strong> included. You will be provided instructions on how to process these emails on the next page. Once you have processed all the emails, you will be asked to provide some basic demographics, such as age, gender, and degree. We will also ask for some feedback on our study.</p>

    <strong>Why have I been asked to take part?</strong><br>
    <p>We are advertising this study to students.</p>

    <strong>Do I have to take part?</strong><br>
    <p>No. Participation in this study is entirely up to you. You can withdraw from the study at any time, without giving a reason. Your rights will not be affected. If you wish to withdraw, contact the Principle Investigator, 
        Dr Nadin Kokciyan (<a href="mailto:nadin.kokciyan@ed.ac.uk">nadin.kokciyan@ed.ac.uk</a>), or lead researcher, Sean Strain (<a href="mailto:s.strain@sms.ed.ac.uk">s.strain@sms.ed.ac.uk</a>). We will stop using your data in any publications or presentations submitted after you have withdrawn consent. However, we will keep copies of your original consent, and of your withdrawal request.</p>

    <strong>Are there any benefits associated with taking part?</strong><br>
    <p>You will not receive compensation for this study. However, you will help us understand whether the tools we have created to analyse emails help people detect phishing emails and you will be contributing to a project that may prevent phishing attacks in the future.</p>

    <strong>Are there any risks associated with taking part?</strong><br>
    <p>While great care has been taken to make the phishing emails safe, we cannot guarantee that everything dangerous has been removed.</p>

    <strong>What will happen to the results of this study?</strong>
    <p>The results of this study may be summarised in published articles, reports and presentations. Quotes or key findings will be anonymized: we will remove any information that could - in our assessment - allow anyone to identify you. With your consent, information can also be used for future research. Your data may be archived for a minimum of 3 years.</p>

    <strong>How will my data be protected and kept confidential?</strong>
    <p>Your data will be processed in accordance with Data Protection Law. All information collected about you will be kept strictly confidential. Your data will be referred to by a unique participant number rather than by name or platform ID. 
        Your data will only be viewed by members of the research team. All electronic data will be stored on password-protected encrypted computers, on the School of Informatics' secure file servers, or on the University's secure encrypted cloud storage services (DataShare, DataSync, or Sharepoint).
        <strong>Please note:</strong> You will be asked to provide data through Microsoft Forms which will provide us with your name. We will immediately remove your name from our data and you may verify this in accordance with your data protection rights.</p>

    <strong>What are my data protection rights?</strong>
    <p>The University of Edinburgh is a Data Controller for the information you provide. You have the right to access information held about you. Your right of access can be exercised in accordance Data Protection Law. You also have other rights including rights of correction, erasure and objection. For more details, including the right to lodge a complaint with the Information Commissioner's Office, please visit <a href="https://www.ico.org.uk">www.ico.org.uk</a>. Questions, comments and requests about your personal data can also be sent to the University Data Protection Officer at <a href="mailto:dpo@ed.ac.uk">dpo@ed.ac.uk</a>. For general information about how we use your data, go to: <a href="https://www.edin.ac/privacy-research">edin.ac/privacy-research</a></p>
    
    <strong>Who is conducting this research and who can I contact about it?</strong>
    <p>This survey is conducted by researchers from School of Informatics, University of Edinburgh. If you have any further questions about the study, please contact the lead researcher, Sean Strain (<a href="mailto:s.strain@sms.ed.ac.uk">s.strain@sms.ed.ac.uk</a>), or his supervisor Dr Nadin Kokciyan (<a href="mailto:nadin.kokciyan@ed.ac.uk">nadin.kokciyan@ed.ac.uk</a>).</p>
    <br>
    <p>If you wish to make a complaint about the study, please contact <a href="mailto:inf-ethics@inf.ed.ac.uk">inf-ethics@inf.ed.ac.uk</a>. When you contact us, please provide the study title and detail the nature of your complaint. This study was certified according to the Informatics Ethics boards, with reference number 2022/82433.</p>
    
    <strong>Updated information</strong>
    <p>If the research project changes in any way, an updated Participant Information Sheet will be made available on: <a href="https://web.inf.ed.ac.uk/infweb/research/study-updates">web.inf.ed.ac.uk/infweb/research/study-updates</a></p>

    <strong>Alternative formats</strong>
    <p>To request this document in an alternative format, such as large print or on coloured paper, please contact Sean Strain (<a href="mailto:s.strain@sms.ed.ac.uk">s.strain@sms.ed.ac.uk</a>).</p>
    <br />

    <v-form v-model="showButton">
      <p v-show="!$isProlificUser">
        Your unique ID is: <b>{{ this.$user }}</b>
      </p>
      <br />

      <!--
      <VueRecaptcha
        ref="recaptcha"
        sitekey="6LfEiy0dAAAAAOHnW3FYObBmao1oPBqx9W6kmXGV"
        :loadRecaptchaScript="true"
        @verify="showButton = true"
      /><br />

      --->
      <strong>By clicking consent, you agree to all of the terms listed above.</strong><br><br>
      <v-btn id="consentButton"
        :disabled="!showButton"
        elevation="3"
        color="success"
        @click="
          $router.push('instruct');
        "
        width="100px"
        >I consent</v-btn
      >
    </v-form>
  </div>
</template>

<script>
//import VueRecaptcha from "vue-recaptcha";
import Vue from "vue";

export default {
  name: "consent",
  metaInfo: {
    title: "Consent form",
    titleTemplate: null,
  },
  components: { },
  data() {
    return {
      showButton: false
    };
  },
  methods: {
    // https://www.tutorialspoint.com/How-to-detect-a-mobile-device-with-JavaScript#:~:text=To%20detect%20a%20mobile%20device%20with%20JavaScript%20we%20are%20going,the%20server%20by%20the%20browser.
    usesMouse() {
      var a;
      if (navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)) {
            a = true ;
         } else {
            a = false ;
         }
         console.log("Is mobile: " + a)
        return a;
    },
    usesSafari()
    {
        return /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    },
  },
  beforeCreate() {
    //var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    //console.log("Is Safari: " + isSafari);

    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);

    let control = Math.floor(Math.random() * 2);

    Vue.prototype.$control = Boolean(control);
    //console.log("Control: " + Boolean(control))

    if (urlParams.has("PROLIFIC_PID")) {
      let uuid = urlParams.get("PROLIFIC_PID");
      Vue.prototype.$user = uuid;
      Vue.prototype.$isProlificUser = true;
    } else {
      let uuid = [...Array(32)]
        .map(() => Math.random().toString(36)[2])
        .join("");
      Vue.prototype.$user = uuid;
      Vue.prototype.$isProlificUser = false;
    }
  },
};
</script>

<style scoped>
#welcome {
  margin-top: 5%;
  width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header1 {
    float: left;
    text-align: left;
    height:250px;
    width:248px;
    margin: 0px;
    padding: 0;
}
#header2 {
    float: left;
    text-align: left;
    height:250px;
    width:248px;
    margin: 0px;
    padding: 0;
}

#consentButton {
  margin-bottom: 20px;
}

</style>
