<template>
  <div id="instruction">
    <InstructTxtExperimental id="instruct-experiment" style="display: none" />
    <InstructTxtControl id="instruct-control" style="display: none" />
    
    The results file will be of the ".xlsx" type, 
    but your computer won't be able to read it. This is expected - we will change the file format to ".txt" upon downloading your results. It has
    to be '.xlsx' so that Microsoft Forms can accept it.
    You may look at the data by altering the file extension to ".txt" should you so wish. <br><br>

    Finally, a very short survey will be presented to you. Please complete this survey to submit your answers. This survey requires you to upload the file from
    your computer. You can find the file in the "downloads" folder.<br /><br />

    All links in these emails have been altered to make them safe. This task should not take more than 5-10 minutes.<br><br>



    You can review these instructions at any time during the task through the
    "help" icon:<br /><br />
    <img src="../assets/ss_help.png" width="100%" /><br /><br />

    Click on the button below to confirm that you understood the task and are
    ready to start.<br /><br />

    <strong>One last thing: Thank you!</strong><br><br>

    <v-btn elevation="3" @click="$router.push('inbox')" color="success"
      >I understand</v-btn
    >
    <div style="margin-top: 20px;"></div>
  </div>
</template>

<script>
import InstructTxtControl from "../components/InstructTxtControl.vue";
import InstructTxtExperimental from "../components/InstructTxtExperimental.vue";

export default {
  data() {
    return {};
  },
  metaInfo: {
    title: "Instructions",
    titleTemplate: null,
  },
  components: {
    InstructTxtControl,
    InstructTxtExperimental,
  },
  mounted() {
    console.log(this.$control)
    if (this.$control) {
      document.getElementById("instruct-control").style.display = "";
    } else {
      document.getElementById("instruct-experiment").style.display = "";
    }
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped>
#instruction {
  margin-top: 3%;
  width: 960px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;
}
</style>
