<template>
  <div id="inbox">
    <v-toolbar height="50" color="rgb(0,120,212)">
      <p id="outlook-sign">Outlook</p>
      <v-spacer></v-spacer>

      <div id="instruct-control" style="display:none">
      <v-dialog v-model="showHelp" persistent max-width="860px">
        <template v-slot:activator="{}">
            <img id="help" src="images/question.png" height="30px" @click="$event => showHelp = true" />
        </template>
        <v-card>
          <v-card-title> Instructions </v-card-title>
          <v-card-text>
            <InstructTxtControl/>
          </v-card-text>
          <v-card-actions>
            &nbsp;
            <v-btn text @click="showHelp = false">
              <b>Close</b>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      &nbsp;&nbsp;
      </div>

      <div id="instruct-experiment" style="display:none">
      <v-dialog v-model="showHelp" persistent max-width="860px">
        <template v-slot:activator="{}">
            <img id="help" src="images/question.png" height="30px" @click="$event => showHelp = true" />
        </template>
        <v-card>
          <v-card-title> Instructions </v-card-title>
          <v-card-text>
            <InstructTxtExperimental/>
          </v-card-text>
          <v-card-actions>
            &nbsp;
            <v-btn text @click="showHelp = false">
              <b>Close</b>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      &nbsp;&nbsp;
      </div>

      <v-icon dark></v-icon>
    </v-toolbar>

    <v-toolbar dense color="rgb(240,240,240)" flat>
      <v-btn depressed :disabled="!emlViewSrc" @click="secondBar = 'del'"
        ><img src="images/delete_black.png" height="20px">&nbsp;Mark as Phishing Email</v-btn
      >
      <v-btn depressed :disabled="!emlViewSrc" @click="secondBar = 'keep'"
        ><img src="images/safe.png" height="20px">&nbsp;Mark as Legitimate Email</v-btn
      >
      <v-btn id="analysis-button" depressed :disabled="!emlViewSrc" @click="secondBar = 'analyse'"
        ><img src="images/magnify.png" height="20px">&nbsp;Get More Information</v-btn
      >
      <v-spacer></v-spacer>
      <v-btn depressed @click="sendLabels()" color="secondary"> DONE </v-btn>
    </v-toolbar>


    <v-toolbar v-show="secondBar === 'del'">
      <b>How confident do you feel that this is a phishing email?</b>&nbsp;&nbsp;
      <v-btn
        depressed
        @click="
          addLabelToLabels('del_confident')
          labelPhish();
          snackbarTxt = 'E-mail labelled as phish.';
          snackbar = true;
        "
        >I am confident</v-btn
      >
      &nbsp;
      <v-btn
        depressed
        @click="
          addLabelToLabels('del_cautious')
          labelPhish();
          snackbarTxt = 'E-mail labelled as phish.';
          snackbar = true;
        "
        >I am not sure, I am being cautious by deleting it</v-btn
      >
      &nbsp;
      <v-btn
        depressed
        @click="
          addLabelToLabels('del_other')
          labelPhish();
          snackbarTxt = 'E-mail labelled as phish.';
          snackbar = true;
        "
        >Other</v-btn
      >
    </v-toolbar>

    <div v-show="secondBar === 'keep'">
      <v-toolbar>
        <b>How confident do you feel that this is a legitimate email?:</b>&nbsp;&nbsp;
        <v-btn
          depressed
          @click="
            addLabelToLabels('keep_confident')
            labelLegit();
            snackbarTxt = 'E-mail labelled as legitimate.';
            snackbar = true;
          "
          >I am confident</v-btn
        >&nbsp;
        <v-btn
          depressed
          @click="
            addLabelToLabels('keep_cautious')
            labelLegit();
            snackbarTxt = 'E-mail labelled as legitimate.';
            snackbar = true;
          "
          >I am not sure</v-btn
        >
        &nbsp;
        <v-btn
          depressed
          @click="
            addLabelToLabels('keep_other')
            labelLegit();
            snackbarTxt = 'E-mail labelled as legitimate.';
            snackbar = true;
          "
          >Other
        </v-btn>
      </v-toolbar>
    </div>

    <div v-show="secondBar === 'analyse'">
      <v-toolbar>
        <b>Click to run an automated analysis of the email:</b>&nbsp;&nbsp;
        <v-btn
          depressed
          @click="
            addLabelToLabels('analyse')
            labelAnalyse();
            snackbarTxt = 'E-mail analysed.';
            snackbar = true;
          "
          >Analyse</v-btn
        >
      </v-toolbar>
    </div>

    <v-main>
      <v-row>
        <v-col cols="4" style="min-width: 525px; max-width: 525px;">
          <v-card style="height: 100vh">
            <v-card-title>Inbox</v-card-title>

            <v-list>
              <v-list-item-group
                v-model="emlViewIndex"
                :id = "'eml_list'"
              >
                <template v-for="(eml, index) in emls">
                  <v-list-item
                    :key="index"
                    @click="displayEml(index, eml.bodyURL, eml.gtlabel)"
                    @pointerover="emlHoverIndex = index"
                    :id="'eml_tn_' + index"
                  >
                    <template v-slot:default="{ active }">
                      <v-row :id="'eml_row_'+index">
                        <v-col :id="'eml_col1_'+index"
                          cols="1"
                          style="margin-top: 23px; margin-left: 5px; float:left"
                        >
                          <v-icon v-show="active | (emlHoverIndex == index)">
                          </v-icon>
                        </v-col>

                        <v-col style="margin-top: 5px; margin-bottom: 5px">
                          <v-list-item-title
                            style="line-height: 1.5em"
                            :id="'eml_tn_from_name_' + index"
                            >{{ eml.fromName }}</v-list-item-title
                          >

                          <v-list-item-subtitle>
                            <div
                              style="float: left; line-height: 1.5em"
                              :id="'eml_tn_subj_' + index"
                            >
                              {{ eml.subject.substr(0, 57) }}
                            </div>
                            <div
                              style="float: right; line-height: 1.5em"
                              :id="'eml_tn_time_' + index"
                            >
                              Wed
                              {{ eml.time }}
                            </div>
                          </v-list-item-subtitle>

                          <div
                            style="
                              font-size: 14px;
                              line-height: 1.5em;
                              width: 400px;
                              display: inline-block;
                              text-overflow: ellipsis;
                              overflow: hidden;
                              white-space: nowrap;
                            "
                            :id="'eml_tn_preview_' + index"
                          >
                            {{ eml.previewTxt }}
                          </div>
                        </v-col>
                      </v-row>
                    </template>
                  </v-list-item>
                </template>
              </v-list-item-group>
            </v-list>
          </v-card>

          <v-snackbar v-model="snackbar" :timeout="timeout">
            {{ snackbarTxt }}

            <template v-slot:action="{ attrs }">
              <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                Close
              </v-btn>
            </template>
          </v-snackbar>
        </v-col>

        <v-col style="flex-grow:0; flex-basis: unset;" id="email-column">
          <v-card
            v-for="(eml, index) in emls"
            :key="index"
            :id="'eml_' + index"
            class="eml-card"
          >
            <div v-if="index == emlViewIndex">
              <v-card-title :id="'eml_head_subj_' + index"
                ><div class="subject">
                  {{ eml.subject }}
                </div></v-card-title
              >
              <div>
                <v-row>
                  <v-col cols="11">
                    <div class="initial" :id="'eml_head_initial_' + index">
                      {{ eml.fromName.substr(0, 1) }}
                    </div>
                    <div style="margin-left: 65px">
                      <div
                        class="from-name"
                        :id="'eml_head_from_name_' + index"
                      >
                        {{ eml.fromName }}&nbsp;&lt;{{ eml.fromEml }}&gt;
                      </div>
                      <div class="time" :id="'eml_head_time_' + index">
                        Wed 12 Oct, {{ eml.time }}
                      </div>
                      <div class="to" :id="'eml_head_to_' + index">
                        To:&nbsp;&nbsp;{{ eml.toEml }}<br />
                        <p v-if="eml.CCeml.length > 0">CC: {{ eml.CCeml }}</p>
                      </div>
                    </div>
                  </v-col>
                </v-row>

                <iframe
                  :src="eml.bodyURL"
                  :height="eml.height + 26"
                  :id="'eml_body_' + index"
                  ref="iframe"
                ></iframe>
              </div>
            </div>
          </v-card>
         </v-col>
         <v-col id="analysis" style="overflow: auto; display: none; width: 0; padding: 0; flex-grow: 0">
            <v-card
            v-for="(eml, index) in emls"
            :key="index"
            :id="'eml_' + index"
            >
        <div v-if="index == emlViewIndex">
            <iframe
              :src="eml.analysisURL"
              :height="eml.height + 26"
              :id="'eml_analysis_' + index"
              :style="'height: 100vh; padding-left: 5px;padding-right: 5px;flex-grow: 0;flex-basis: unset;'"
              ref="iframe">
            </iframe>
        </div>
        </v-card>
        </v-col>
        </v-row>
    </v-main>
  </div>
</template>

<script>
import emails from "../assets/meta_data.json";
//import tracking from "../utils/track_ui";
import InstructTxtControl from "./InstructTxtControl.vue";
import InstructTxtExperimental from "./InstructTxtExperimental.vue";


// SHUFFLE EMAILS:
// https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
let currentIndex = emails.length, randomIndex;

// While there remain elements to shuffle.
while (currentIndex != 0) {

    // Pick a remaining element.
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;

    // And swap it with the current element.
    [emails[currentIndex], emails[randomIndex]] = [
    emails[randomIndex], emails[currentIndex]];

}
export default {
  components: {
    InstructTxtControl,
    InstructTxtExperimental,
  },
  metaInfo: {
    title: "Inbox",
    titleTemplate: null,
  },
  props: ["UI", "test"],
  mixins: [],
  data: () => ({
    emls: emails,
    emlViewSrc: "",
    emlgtlabel: "",
    emlViewIndex: null,
    emlHoverIndex: null,
    secondBar: "",
    showHelp: false,
    labels: {},
    begin_time: null,
    timeout: 3000,
    snackbar: false,
    snackbarTxt: "",
    testSrc: "",
  }),
  methods: {
    findHeight()
    {
        var body = document.body,
        html = document.documentElement;

        var height = Math.max( body.scrollHeight, body.offsetHeight, 
                     html.clientHeight, html.scrollHeight, html.offsetHeight );
        return height
    },
    displayEml(index, src, gtlabel) {
      this.emlViewSrc = src;
      this.emlgtlabel = gtlabel;
      try {
        const eml = document.getElementById("eml_" + index);
        document.getElementById('analysis').style.display = "none";
        setTimeout(function() { // because there is some render time
            const height = parseInt(window.getComputedStyle(eml).getPropertyValue('height'.split("px")[0])) + 15;
            document.getElementById('email-column').style.height = (height + 15).toString() + "px";
        }, 15);
    } catch (TypeError) {
        console.log(TypeError);
      }
    },
    labelPhish() {
      const previous_img = document.getElementById("eml_col1_" + this.emlViewIndex).querySelector("img")

      if (previous_img)
      {
        previous_img.remove()
      }

      document.getElementById("eml_tn_" + this.emlViewIndex).style = "background-color: #ffb3b3; border-bottom: solid 2px #000000; border-top: solid 2px #000000;";

      const img = document.createElement("img")
      img.src = "images/delete_black.png"
      img.style.height="40px"
      img.style = "height: 40px; text-align: left; position: absolute; top: 20px; left: 15px;"
      document.getElementById("eml_col1_" + this.emlViewIndex).appendChild(img)

    //   document.getElementById("eml_" + this.emlViewIndex).style.display =
    //     "none";
    //   document.getElementById("eml_tn_" + this.emlViewIndex).style.display =
    //     "none";
    //   this.emlViewSrc = null;
    //   this.emlViewIndex = null;
      this.secondBar = "";
    },
    labelLegit() {
      const previous_img = document.getElementById("eml_col1_" + this.emlViewIndex).querySelector("img")

      if (previous_img)
      {
        previous_img.remove()
      }

      document.getElementById("eml_tn_" + this.emlViewIndex).style = "background-color: #b3ffb3; border-bottom: solid 2px #000000; border-top: solid 2px #000000;";

        const img = document.createElement("img")
        img.src = "images/safe.png"
        img.style.height="40px"
        img.style = "height: 40px; text-align: left; position: absolute; top: 20px; left: 15px;"
        document.getElementById("eml_col1_" + this.emlViewIndex).appendChild(img)
      this.secondBar = "";
    },
    labelAnalyse()
    {
      let analysis = document.getElementById('eml_analysis_' + this.emlViewIndex)
      let analysis_column = document.getElementById('analysis')

      analysis.classList.add('analysis')
      analysis_column.style = "overflow: auto"; // clears other parameters
    },
    addLabelToLabels(label)
    {
        const now = new Date().getTime();
        if (this.labels[this.emlViewSrc] == undefined) {
        this.labels[this.emlViewSrc] = [{"legit or phish?:": this.emlgtlabel, "label": label, "time": now - this.begin_time}];
      } else {
        this.labels[this.emlViewSrc].push({"label": label, "time": now - this.begin_time});
      }
    },

    sendLabels() {
        
        if (this.$user == undefined) {
            this.$user = [...Array(32)]
            .map(() => Math.random().toString(36)[2])
            .join("");
        }

        if (this.$control == undefined) {
            if (document.getElementById('analysis-button').style.display == "none")
            {
                this.$control = true;
            } else {
                this.$control = false;
            }
        }

        var output = [{"user": this.$user}, {"control:": this.$control},{"labels": this.labels}]

        const now = new Date().getTime();
        output.push({"time-spent:": now - this.begin_time});
        console.log(output)

        var n_labelled = Object.keys(this.labels).length;
        if (n_labelled < this.emls.length) {
            alert("You have not processed all e-mails yet.");
        } else {
            var workElement = document.createElement("a");
            if ('download' in workElement) {
                workElement.href = "data:" + 'text/plain' + "charset=utf-8," + escape(JSON.stringify(output));
                workElement.setAttribute("download", this.$user + ".xlsx");
                document.body.appendChild(workElement);
                //var eventMouse = document.createEvent("MouseEvents");
                //eventMouse.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                //workElement.dispatchEvent(eventMouse);
                let event = new MouseEvent("click")
                workElement.dispatchEvent(event);
                document.body.removeChild(workElement);
                location.href = 'https://forms.office.com/Pages/ResponsePage.aspx?id=sAafLmkWiUWHiRCgaTTcYeNnJu_f0TBPjEZ12HAHXwBUNElFVzIyVUpHSThTQlJDUDRPU1NMS0IwVS4u';
            } else {
                console.log(JSON.stringify(output))
                alert('File saving not supported for this browser.  Please contact the researchers. If you are knowledgable, check the browser\'s console for your results.');
            }
        }
    },
  },
  mounted() {
    this.begin_time = new Date().getTime();

    console.log(this.$control)
    if (this.$control) {
            console.log("control")
            document.getElementById('analysis-button').style.display = "none";
            document.getElementById('instruct-control').style.display = "";
    } else {
            console.log("not control")
            document.getElementById('analysis-button').style.display = "block";
            document.getElementById('instruct-experiment').style.display = "";
    }

    window.scrollTo(0, 0);

    // prevent participants from navigating back to the instructions page
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };

  },


  
};

</script>

<style scoped>
#inbox {
  background-color: rgb(248, 248, 248);
}

#outlook-sign {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#email-column
{
    display: inline-block;
    width: calc((100vw - 525px) / 2);
    min-width: 300px;
    max-width: 50vw;
    resize: horizontal;
    overflow-x: auto;
    overflow-y: hidden;
    background-image: linear-gradient(
        -45deg,
        rgb(152, 152, 152) 20px,
        transparent 20px
    );
}

#analysis
{
    width: calc((100vw - 525px) / 2);
}

.v-btn {
  text-transform: none !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  margin-left: 2px;
}

.subject {
  font-size: 16pt;
  font-weight: bold;
}

.initial {
  height: 40px;
  width: 40px;
  background-color: indigo;
  border-radius: 50%;
  float: left;
  font-size: 12pt;
  color: white;
  text-align: center;
  line-height: 2.5em;
  margin-top: 5px;
  margin-left: 15px;
}

.from-name {
  margin-right: 5px;
}

.from-eml {
  line-height: 1.8em;
}

.time {
  font-size: 9pt;
  color: gray;
  line-height: 1.8em;
  margin-bottom: 3px;
}

.to {
  font-size: 11pt;
}

#analysis-button {
  display: none;
}

#eml_list > div {
    border-bottom: 1px solid #ddd;
}

.eml-card
{

}

iframe {
  width: 100%;
  border: 0;
  display: block;
  padding-left: 58px;
}
</style>
