<template>
    <div>
        Imagine you are a 5th year undergraduate masters student at the University of Edinburgh - named
    <b>Pat Smith</b>.<br /><br />

    As a student you often receive emails from your university, but also from your personal accounts that you have registered with.
    This means your emails can range from generic university announcements to security alerts for your personal accounts.<br /><br />

    Now imagine that you open your inbox and find 16 new emails from the day.<br />
    Your task is to process them all in your role as Pat Smith.<br /><br />
  
      You will see a mock inbox like this:<br /><br />
  
      <img src="../assets/ss_inbox.png" width="100%" /><br /><br />

      You are able to click on the emails on the left to move between each email just as you would in a real inbox.<br /><br />

      If the email is too small on your screen, you can use the resize tool at the bottom right to resize it. That tool looks like this:<br><br>
      <img src="../assets/resize.png" width="80%" /><br /><br />
  
      You are asked to complete one of the following steps for each email:<br /><br />
          
      &bull; <b>Mark as Phishing Email</b>: this option marks the email as phishing and will make the listing in the inbox <span style="color:red">red</span>.
      <br>
      &bull; <b>Mark as Legitimate Email</b>: this option marks the email as legitimate and will make the listing in the inbox <span style="color:green">green</span>.
      <br>
      <br />

      There are options within that allow you to say if you are unsure - just give your best guess.<br /><br />
  
      You may go back and change your mind at any time. Simply click on the email again and choose a different action.<br /><br />
  
      Some of the emails in your inbox are phishing emails. <strong>Your job is to spot these emails and mark them accordingly.</strong>
  
      <br><br>
      <div style="background-color: black; width:100%; height:2px;"></div><br>
      <strong style="color:crimson">Please read the following information on how to spot phishing emails:</strong><br />

      <br>
      <span style="font-size: xx-large;">How can I recognise phishing emails?</span><br><br>

      Often a phishing attack is easy to spot, but sometimes they can be more sophisticated. There often is something about a phishing attack which will make you suspicious - 
      it might be something in the list of clues below but it may also be that you feel that something is just not right. It's important that you act appropriately on your suspicions - 
      if in doubt, act as if it was definitely phishing, don't click on or open anything.  
      <br><br>
      When reading an email it's wise to always keep the following clues in mind.
      <br><br>
      Phishing emails often:
      <ul>
        <li>
            have a generic or incorrect greeting rather than being specifically addressed to you 
        </li>
        <li>
            request personal information such as passwords, bank details, date of birth, personal ID numbers, etc.
        </li>
        <li>
            are short, vague and look or sound a little odd - even if they apparently come from someone you know 
        </li>
        <li>
            contain unexpected attachments, or unexpected links to online documents - even if the email comes from the online service itself
        </li>
        <li>
            contain poor spelling or grammar, or incorrect references to University services 
        </li>
        <li>
            try and create urgency - "your account will be disabled in 24 hours", "this needs to happen by 5pm today" - in the hope you'll act without thinking
        </li>
        <li>
            come from someone that you would not expect to be contacting you - not just because you don't know them but also perhaps you do not normally have any communication with the kind of contact they are or claim to be  
        </li>
        <li>
            try and claim false authority - government agencies, police forces, central administration, senior staff members, etc.
        </li>
        <li>
            ask you to do something that you would not normally do
        </li>
      </ul>

<br>
  
      <div style="background-color: black; width:100%; height:2px;"></div><br>
  
      <br><br>
      To process an email:<br />
      <ol>
        <li>
          Click on an email in the list on the left. The full email will be
          displayed on the right.
        </li>
        <li>
          <b>Choose one of the available actions</b> for the selected email from
          the bar displayed above the emails.
        </li>
        <li>
          A secondary bar with buttons will appear. Click on the button that <b>best
          represents</b> your decision.
        </li>
        <li>
          The email will be coloured red or green depending on your decision.
        </li>
        <li>
          You are able to go back and change your mind at any point. Simply click on the email again and choose a different action.
        </li>
        <li>
          A confirmation of your processing action will be shown in the bottom of
          the screen.
        </li>
        <li><b>When you have processed all emails, click "DONE":</b> - This will take you to our survey and download your results.</li>
      </ol>
      <br />
  
      <img src="../assets/ss_done.png" width="100%" /><br /><br />

    </div>
  </template>
  