<template>
  <div>
    Imagine you are a 5th year undergraduate masters student at the University of Edinburgh - named
    <b>Pat Smith</b>.<br /><br />

    As a student you often receive emails from your university, but also from your personal accounts that you have registered with.
    This means your emails can range from generic university announcements to security alerts for your personal accounts.<br /><br />

    Now imagine that you open your inbox and find 16 new emails from the day.<br />
    Your task is to process them all in your role as Pat Smith.<br /><br />

    You will see a mock inbox like this:<br /><br />

    <img src="../assets/ss_inbox.png" width="100%" /><br /><br />

    You are able to click on the emails on the left to move between each email just as you would in a real inbox.<br /><br />

    If the email is too small on your screen, you can use the resize tool at the bottom right to resize it. That tool looks like this:<br><br>
    <img src="../assets/resize.png" width="80%" /><br /><br />

    You are asked to complete one of the following steps for each email:<br /><br />
        
    &bull; <b>Mark as Phishing Email</b>: this option marks the email as phishing and will make the listing in the inbox <span style="color:red">red</span>.
    <br>
    &bull; <b>Mark as Legitimate Email</b>: this option marks the email as legitimate and will make the listing in the inbox <span style="color:green">green</span>.
    <br>
    <br />

    There are options within that allow you to say if you are unsure - just give your best guess.<br /><br />

    You may go back and change your mind at any time. Simply click on the email again and choose a different action.<br /><br />

    Some of the emails in your inbox are phishing emails. <strong>Your job is to spot these emails and mark them accordingly.</strong>

    <br><br>
    <div style="background-color: black; width:100%; height:2px;"></div><br>
    <strong style="color:crimson">You also have access to a tool that analyses the emails for you.</strong><br />
    This tool can be accessed through the <b>Get More Information</b> button. This will allow you to see additional information 
    about the email which can help you decide if it is a phishing email or not. You are welcome to use this tool as much as you like.<br><br>

    The button looks like this:<br>
    <img src="../assets/get_more_info.png" width="40%" /><br /><br />

    You will then see a document appear that looks like this:<br>
    <img src="../assets/analysis_example.png" width="80%"><br /><br />

 
    <strong>What information does the tool provide? How does the tool work?:</strong><br>
    Each of the following emails you see in your inbox has been analysed by an automated script that evaluates the email for certain features that are common in phishing emails.
    For instance, it looks for malicious websites in the email or the use of words commonly found in phishing emails.
    A machine learning algorithm then uses these features to make a prediction about whether an email is a phishing email or not. 
    The tool provides you with the results of this prediction and what features factored into its decision.<br><br>

    <strong>Please Note:</strong> this tool is sometimes wrong about it's overall estimation. It is meant to help you, not decide for you. There are both
    legitimate emails that are evaluated as phishing emails, and phishing emails that are evaluated as legitimate emails in this inbox. You should always use your own judgement
    when deciding if an email is legitimate or not.<br><br>

    <div style="background-color: black; width:100%; height:2px;"></div><br>

    <br><br>
    To process an email:<br />
    <ol>
      <li>
        Click on an email in the list on the left. The full email will be
        displayed on the right.
      </li>
      <li>
        <b>Choose one of the available actions</b> for the selected email from
        the bar displayed above the emails.
      </li>
      <li>
        A secondary bar with buttons will appear. Click on the button that <b>best
        represents</b> your decision.
      </li>
      <li>
        The email will be coloured red or green depending on your decision.
      </li>
      <li>
        You are able to go back and change your mind at any point. Simply click on the email again and choose a different action.
      </li>
      <li>
        A confirmation of your processing action will be shown in the bottom of
        the screen.
      </li>
      <li><b>When you have processed all emails, click "DONE":</b> - This will take you to our survey and download your results.</li>
    </ol>
    <br />

    <img src="../assets/ss_done.png" width="100%" /><br /><br />

  </div>
</template>
