<template>
  <v-app>
    <v-main id="app">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
(function() {
    var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
    link.type = 'image/png';
    link.rel = 'shortcut icon';
    link.href = 'images/eushield-noback.png';
    document.getElementsByTagName('head')[0].appendChild(link);
})();
</script>
